.videoplayer {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    width: 99%;
    overflow: hidden;
}

.videoplayer--details {
    flex: 0.7;
    width: 97%;
}


.videoplayer--videos, .videoplayer--videocontent {
    margin: 3% 5% 5% 7%;
}

.videoplayer--suggested {
    flex: 0.3;
    margin-top: 0 !important;
    flex-direction: column;
}

.videoplayer--suggested .recommended--videos{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 150px;


}

.videoplayer--suggested .videocard--content {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}



.videoplayer--suggested .videocard--image {
    width: 10rem;
    height: 7rem;
    border-radius: 10%;
    object-fit: contain;
}
.videoplayer--suggested .video--avatar {
    display: none;
}

.videoplayer--suggested .videocard--info {
    margin-left: -1rem;
    padding-right: 0;
    margin-bottom: 0.5rem;
}

.videoplayer--videocontent {
    flex-direction: row;
}

.videocontent--channeldesc {
    color: gray;
    font-size: small;
}

@media screen and (max-width:800px) {
    .videoplayer {
        flex-direction: column;
    }
    .videoplayer--details {
        flex: 1;
    }
    .videoplayer--suggested {
        flex: 0;
        margin-top: 0 !important;
        flex-direction: column;
    }

    .videoplayer--suggested .videocard--image {
        width: 15rem;
        height: 9rem;
    }
}

@media screen and (max-width:400px) {
    .videoplayer--suggested .recommended--videos{
        display: flex;
        flex-direction: column;

    
    }

    .videoplayer--suggested .videocard--image {
        width: 25rem;
        height: 9rem;
        margin-left: 5rem;
    }

    .videoplayer--suggested .videocard--content {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 0px;
        margin-left: 1rem;
        padding: 1.5rem;
    }
    
}