.payment--content {
    min-height: 100vh;
    background-color: #fff;
    color: #333;
    overflow: hidden;
    padding-left: 0.5rem;
}

.payment--content hr {
    border: none;
    height: 0.7px;
    background-color: #ccc5c5;

}

.card--img {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

.card--logo {
    width: 2.5rem;
}

.payment--text {
    max-width: 500px;
    margin:2rem auto;
    position: relative;
}
.payment--text h2 {
    font-size: 2rem;
}
.payment--field {
    margin-top: -1rem;
}
.payment--content form input {
    background-color: #fff;
    border: 1px solid #2e9b2e;
    padding-bottom: 1rem;
}

span {
    font-size: 0.7rem;
    color: #e71717;
    display: none;
    margin-top: -1rem;
    margin-left: 13px;

}
.payment--content form input:invalid[focused ="true"] ~ span {
    display:block;
}
.payment--content form input:invalid[focused ="true"]{
    border: 1px solid #e71717;
}


.plans {
    margin-top: 2rem;
}
.plans h1{
    padding: 1.5rem;
}

.plans--prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    margin-top: 1rem;
}
.plans--prices:hover {
    background-color: #e71717;
    color: #fff;
}
.plans--prices button {
    border: none;
    background-color: #e71717;
    color: #fff;
    padding: 0.6rem;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    transition: transform 0.4s;
}

.plans--prices button:hover {
    transform: scale(0.95);
}

.plan--terms p{
    margin-top: 30px;
    font-size: 0.8rem;
    color: #979a9c;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 2em 0 1em;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    color: #1d79f0;
    
  }
  select:hover {
    outline: none;
    text-decoration:underline;
  }

  select::-ms-expand {
    display: none;
  }

  select option {
    text-decoration:underline;
  }
.terms--input{
    display: flex;
   align-items: center;
   color: #979a9c;
   font-weight: 600;
   font-size: 1.2rem;
   
}

.terms--input input {
    width: 20px;
}
