.login--content {
    overflow-x: hidden;
}

 .netflix--logo {
    margin-top: 1rem;
    padding: 1rem;
}

.logo--flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pay-button {
    padding: 10px;
    white-space: nowrap;
    background-color: #fff;
    color: #e50914;
    border: none;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    font-family: 'Roboto', sans-serif;
    width: 90px;
    cursor: pointer;
    margin-right: 1rem;
    z-index: 99;
    
}

.login--text h1 {
    margin-top: 2rem;
    margin-bottom: -1rem;
    margin-left: 12px;
}

form {
    width: 90%;
    margin-top: -1.8rem;
}

.errormessage {
    color:#e50914;
    margin-top: 1rem;
}
form input {
 display:block;
 margin:2rem 1rem;
 width: 90%;
 height: 28px;
 padding: 1rem ;
 border:none;
 outline:none;
 background-color: #302f2f;
}

.login--btn {
    display: block;
    text-align: center;
    margin:1rem;
    width: 95%;
    border: none;
    background-color: #e50914;
    padding: 10px;
    height: 50px;
    font-size: 1rem;
    font-family: 'Roboto',sans-serif;
    color:#fff
}

.checkbox--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -2rem;
    padding: 0.7rem;
}

form input:last-child {
    width: 1rem;
}

.signup {
    display:flex;
    align-items: center;
    gap:5px;
    padding-left: 15px;
    padding-bottom: 2rem;

}

.signup h3{
    color: #302f2f;
    font-weight: 400;
}


.signup button {
    border:none;
    background-color: #000;
    color:#fff;
    font-size: 1rem;
}

.signup button:hover {
    text-decoration: underline;
}

.checkbox {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

@media screen and (min-width:900px) and (max-width:1440px){
    .login--bg {
        position: relative;
        width: 100%;
         height: 100vh;
         object-fit: cover;
     }
     
     .login--bg::before {
     content:"";
     position: absolute;
     background-image: url("/src/netflixbg.jpg");
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     opacity: 0.4;
     }

     .netflix--logo {
        position: relative;
     }

     .login--text {
        position: relative;
        background-color: rgba(0,0,0,0.5);
        backdrop-filter: blur(5px);
        width: 400px;
        margin: 2rem auto;
        border-radius: 20px;
        padding-top: 1rem;
        padding-bottom: 2rem;
     }

     .signup {
        padding-bottom: 1rem;
    
    }

     .signup h3{
        color:grey;
     }
     .signup button {
        background-color: transparent;
    }
    
}