.videocard--content {
    gap: 1rem;
    width: 200px;
    margin-bottom: 40px;
}

.videocard--image {
    height: 10rem;
    width: 16rem;
    object-fit: contain;
}

.videocard--info{
    display: flex;
    padding-right: 30px;
    margin-left: 0.8rem;
}

.videocard--text {
    margin-left: 1rem;
    max-width: 150px;
    line-height: 1;
}

.videocard--text > h4{
    font-size: 0.8rem;
     color: #131212;
     width: 200px;
}

.videocard--text > p{
    font-size: 0.7rem;
    margin-bottom: 5px;
    color: #6b6767;
}

@media screen and (max-width:800px) {
    .videocard--content{
        width: 150px;
    }

    .videocard--image{
        width: 12rem;
    }

    .videocard--text > h4 {
        width: 150px;
    }
}

@media screen and (max-width:400px) {
    .videocard--content{
        width: 150px;
    }

    .videocard--image{
        margin-left: 3rem;
        width: 8rem;
        height: 8rem;
    }

    .videocard--text > h4 {
        width: 120px;
    }
}