.desktop--header {
    padding: 0;
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top:0;
    z-index:5;
    background-color: #fff;
    

}

.mobile--header{
    display: none;
}

.desktop--icons,.mobile--icons {
    color: #3b3a3a;
    font-weight: 100;
    font-size: 0.5rem;

}

.desktop--icons span{
    margin: 10px;
}


.menu--icon {
    margin: 7px;
    cursor: pointer;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.youtube--icon{
    width: 3rem;
    object-fit: cover;
    cursor: pointer;
}

.logo h3{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    white-space: nowrap;
}

.logo h3 sup {
    font-size: 0.8rem;
    font-weight: 400;
}

.mobile--headerSearch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem 1rem 1.1rem;
}

.arrow--container .back--arrow {
    font-size: 2.2rem;
    cursor: pointer;
    color: #201f1f;
}
.search{
display: flex;
align-items: center;
justify-content: center;


}

.search--container {
    display: flex;
    align-items: center;
    height: 2.5rem;   
    border: 1px solid #868484;
    border-radius: 5px;
    width: 500px;
    box-shadow: 0px 3px 5px #c7c4c4;
               

}



.search--container > input{
  border: none;
  flex: 1;
  font-size: 1rem;
  outline: none;
  padding: 5px;
  
}

.search--container > input[type="search"].dark {
    color: #fff;
    background-color: #222;
}

.desktop-search--icon {
    display: flex;
    align-items: center;
    background-color:#f7f2f2;
    border: 1px solid #868484;
    color: #201f1f;
    font-weight: 300;
    border-right: none; 
    padding: 8px;
    width: 40px!important;
    height: 2.5rem!important;
   border-left: 1px solid #868484;
   margin-top: 4px;
    
}

.desktop-search--icon:hover{
    background-color: #e6e1e1;
    transition: all 0.3s;
}

.mic--icon{
    margin-left: 14px;
    background-color: #d1cdcd;
    padding: 3px;
    width: 30px!important;
    height: 30px!important;
    border-radius: 50%;
    cursor: pointer;
    
}
.icons {
    margin: 10px;
    cursor: pointer;
}



.avatar{
    width: 2rem;
    object-fit: cover;
}

@media screen and (max-width:800px) {
 .desktop--header{
        display: none;
    }
   .mobile--header{
    padding: 0;
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
    margin-top: 0rem;
    position: sticky;
    top:0;
    z-index:100;
    background-color: #fff;
    
   }
   .mobile--icons span {
    margin: 5px;
}
    .mic--icon{
        margin-left: 0px;
        background-color: transparent;
        
    }
    .icons span{
        margin: 7px;
    }
    .arrow--container .back--arrow {
        font-size: 1.5rem;
        
    }
    
}

@media screen and (max-width:397px) {

    .mobile--headerSearch .search--container {
        width: 100%;
    }
    .youtube--icon{
        width: 2rem;
    }
    .mobile--icons span{
        margin: 2px;
    }
    .icon.app--icon{
        display: none;
    }
    .icon.mobile-mic--icon{
        font-size: 17px;
    }
    .icon.notify--icon,.icon.video--icon,.icon.mobile-search--icon{
        font-size: 17px;
        cursor: pointer;
    }
    .avatar{
        width:1.5rem;
    }
    
}