.comment--section {
    margin-top: 2rem;
}

.comment--info {

    display: flex;
    align-items: center;
    gap: 1.5rem;

    
}

.comment--img{
    width: 3rem;
    object-fit: cover;
    
}

.comment--input {
    border-left:none;
    border-top: none;
    border-right: none;
    outline: none;
    border-bottom: 1px solid #bfbdbd;
    width: 90%;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    font-family:'Roboto', sans-serif;
    
}

.comment--input::placeholder{
    color: #4b4949;
    padding-bottom: 1rem;
}
.comment--btn {
    margin-left: -3rem;
}
.comment--btn button{
    border: none;
    float: right;
    margin: 1rem;
    margin-left: 1rem;
    background-color: #4b4949;
    border-radius: 1rem;
    padding: 0.6rem;
    width: 90px;
    color: #fff;
}

.add--comment {
    margin-top: 5rem;
}
.flex,.bottom--flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bottom--flex {
    margin-top: 1rem;
}
.bottom--flex:hover {
    background-color: #bfbdbd;
}

.comment {
    margin-top: 1rem;
}
