
 .videocontent--channel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.videocontent--headline > h1 {
    font-weight: 400;
    font-size:1.5rem;
}

.videocontent--stats  {
    font-size: medium;
    color: #272626;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.flex-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.videocontent--views {
    text-align: left;

}

.videocontent--stats > * {
    margin-top: 2px;
}

.videocontent--icons > * {
    padding-left: 0;
    padding-top: 0;
    
}

.videocontent--icons .sideIcons {
    font-size: 1.2rem;
    background-color: transparent;
}
.videocontent--icons, .videocontent--channel > div {
    display: flex;
    align-items: center;
}

.videocontent--channeldesc p{
    margin-top: 0.7rem;
    line-height: 1.2;
}
.videocontent--channel {
    border: 1px solid #cecaca;
    padding: 0.6rem 0.9rem;
    margin-top: 1rem;
}
.videocontent--channelinfo {
    padding-left: 5px;
}

.videocontent--channeltitle {
    font-size: medium;
    margin: 2px;
}

.videocontent--channelsubs {
    color: #272626;
    font-size: small;
    margin: 10px;
}

.info--btn {
border: none;
color: #272626;
font-size: 0.9rem;
font-family: 'Roboto', sans-serif;
font-weight: 600;
background-color: #f9f9f9;
cursor: pointer;

}
.sub--btn{
    color: #fff;
    background-color: #df1313;
    display:block;
    outline: none;
    border: none;
    padding: 13px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin-right: 2rem;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
}

.sub--content {
    display: flex;
    align-items: center;
}
.sub--btn.active {
    background-color: #cfcccc;
    transition: all 0.4s ease-in-out;
    color: #5e5b5b;
}

.sub--icon {
    background-color: transparent;
    color: #272626;
    margin-left: -2rem;
    
}
@media screen and (max-width:800px) {

    .videocontent--stats {
        display: flex;
        flex-direction: column;
    }
    .videocontent--icons  {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        
    }
}
@media screen and (max-width:600px) {
    .flex-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}