.watch--content {
    position:relative;
     flex: 0.7;
    border-top: 1px solid #d1cdcd;
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
}
.side--content {
    flex: 0.3;
    background-color: hsl(0, 0%, 98%);
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%;  
    
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .side--content {
    display: flex;
    
  }
  .image--content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .side-image {
    width: 180px;
  }

  
  
@media screen and (max-width:800px) {
    .watch--content{
        flex: 1;
        
    }

    
    

    /*h1{
        position: absolute;
        z-index: 100;
        bottom: 4rem
      }*/

    
}

@media screen and (max-width:500px) {
    .watch--content{
        flex: 1;
        
    }

    

    /*h1{
        position: absolute;
        z-index: 100;
        bottom: 3rem
      }*/

    
}