@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@200;300;400;500&family=Noto+Sans:wght@100;200;300;400&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500&family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: white;
  overflow-y: scroll;
}

.App {
margin: 0;
}

.container {
  width: 100%;
  overflow-x: hidden;
}