.voice--content {
    position: absolute;
    z-index: 999;
    top: 10px;
    left: 30%;
    height: 400px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.voice--modal {
    width: 550px;
    
}

.close--icon {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.close--icon .close {
    font-size: 1.8rem;
}

.voice--modal h3 {
    margin-top: 2.5rem;
    margin-left: 3rem;
    font-size: 1.8rem;
}

.voice--icon {
    position: absolute;
    bottom: 15%;
     left: 40%;
     width: 70px;
     height: 70px;
      border: 1px solid #a70606;
      border-radius: 50%;
       background-color: #a70606;
    }

.voice--icon::before {
content: '';
position: absolute;
height: 70px;
width: 70px;
background-color: rgba(0,0,0,0.5);
border-radius: 50%;
animation: animateIcon 2s forwards infinite;
    }

@keyframes animateIcon {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1.4);
}
    }
.voice--icon .voice--mic{
    position: absolute;
    font-size: 3rem;
    color: #fff;
    bottom: 15%;
    left: 15%;
    
    }


@media screen and (max-width:800px) {
   .voice--content {
    left: 2%;
    width: 95%;
   } 
   .voice--modal {
    width: 650px;
   }
}